<nav>
  <a class="button" routerLink="/calculator" routerLinkActive="activebutton">Calculator</a> |
  <a class="button" routerLink="/table" routerLinkActive="activebutton">Reponsive Table</a> |
  <a class="button" routerLink="/product" routerLinkActive="activebutton">Product</a> |
  <a class="button" routerLink="/productform" routerLinkActive="activebutton">ProductForm && Directive</a> |
  <a class="button" routerLink="/productserviceform" routerLinkActive="activebutton">Product Service Form</a> |
  <a class="button" routerLink="/customelement" routerLinkActive="activebutton">Custom Element</a> |
  <a class="button" routerLink="/litelement" routerLinkActive="activebutton">Lit Element</a>
</nav>
<hr>
<router-outlet></router-outlet>